body {
	background: #eee;
}

.nav-wrapper {
	background: #1e88e5;
	height: 150px;
}
.logo {
	
	float: right;
	
}

.li ul {
	background: blue;
}




.container {
		margin-top: 100px;
	}

/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
    
   .input-field input[type=password]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   [type="checkbox"].filled-in:checked+label:after{
     border: 2px solid #000;
     background-color:#000
   }
  
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
	.btn {
		height: 50px;
	}

i{
  font-size: 35px;
}
.crop {
    overflow: hidden;
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}
div.viewport {
    overflow: hidden;
    position: relative;
}

img.clipped {
    display: block;
    position: absolute;
}