{% load staticfiles %}
<nav class="nav-wrapper light-blue darken-4">
  <div class="row">
    <div class="col s1">
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="fa fa-bars" style="font-size: 35px;" aria-hidden="true"></i></a>
    </div>
    <div class="col s11">
      <a href="/" class="logo"><img src="{% static 'img/logo.png' %}" class="responsive-img" alt=""></a>
      <a href="{{back_url}}" class="logo"> <i style="font-size: 65px; margin-left: 25px;" class="fa fa-arrow-circle-left" aria-hidden="true"></i> </a>
      
    </div>
  </div>
      <ul id="slide-out" class="side-nav">
          <li>
            <div class="userView">
              <div class="background">
                <img src="{% static 'img/logo.png' %}">
              </div>
            {% if request.user.is_authenticated %}
                <a href="#!name"><span class="black-text name">{{request.user.username}}</span></a>
            {% endif %}
            </div>
          </li>
            <li><a href="{% url 'Inicio' %}"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="#!"><i class="fa fa-user-circle" aria-hidden="true"></i> Mi Perfil</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li>

          {% else %}
            <li><a class="waves-effect" href="{% url 'Join' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Unirse</a></li>
            <li><a class="waves-effect" href="{% url 'Autenticacion' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</a></li>
          {% endif %}
    </ul>
 </nav>
