{% extends "princ.html"%}
{% load staticfiles %}
{% block title %}
  Administrador
{% endblock %}
{% block content %}
  <div class="row" ng-app="Noticias" ng-controller="Admin" >
    <div class="col s12 m12 l12">
      <ul class="tabs">
        <li class="tab"><a class="active" href="#Categoria"><i class="fa fa-file-image-o" aria-hidden="true"></i>  Categoria</a></li>
        <li class="tab"><a href="#Medio"><i class="fa fa-newspaper-o" aria-hidden="true"></i>   Medio</a></li>
        <li class="tab"><a href="#Periodico"><i class="fa fa-newspaper-o" aria-hidden="true"></i>   Periodico</a></li>
        <li class="tab"><a href="#Pagina"><i class="fa fa-newspaper-o" aria-hidden="true"></i>   Pagina</a></li>
        <li class="tab"><a href="#Noticia"><i class="fa fa-newspaper-o" aria-hidden="true"></i>   Noticia</a></li>
        <li class="tab"><a href="#Bitacora"><i class="fa fa-newspaper-o" aria-hidden="true"></i>   Bitacora</a></li>
      </ul>
    </div>
    
    <div id="Categoria">
      <div class="row">
        <br>
        <a class="right modal-trigger btn-floating btn-large waves-effect waves-light grey" href="#modal_reguistro_categoria"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <br>
        <div class="col m12">
          <div class="col m6">
            <input type="text" ng-model="search_categoria.$" name="" placeholder="Buscador">
          </div>
        </div>
        <table class="col m12">
          <thead>
            <tr>
              <th>Editar</th>
              <th>Eliminar</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="categoria in categorias | filter:search_categoria | itemsPerPage: 6" pagination-id="categorias">
              <td>
                <a href="#modal_edtiar_categoria" class="modal-trigger" ng-click="show_categoria(categoria)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a href="#" ng-click="eliminar_categoria(categoria)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
              <td>[[categoria.nombre]]</td>
            </tr>
          </tbody>
        </table>
        <dir-pagination-controls pagination-id="categorias" class="col m12"></dir-pagination-controls>
      </div>
    </div>
    
    <div id="Medio">
      <div class="row">
        <br>
        <a class="right modal-trigger btn-floating btn-large waves-effect waves-light grey" href="#modal_reguistro_medio"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <br>
        <div class="col m12">
          <div class="col m6">
            <input type="text" ng-model="search_medio.$" name="" placeholder="Buscador">
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Editar</th>
              <th>Eliminar</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="medio in medios | filter:search_medio | itemsPerPage: 6" pagination-id="medios">
              <td>
                <a href="#modal_edtiar_medio" class="modal-trigger" ng-click="show_medio(medio)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a href="#" ng-click="eliminar_medio(medio)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
              <td>[[medio.nombre]]</td>
            </tr>
          </tbody>
        </table>
            <dir-pagination-controls pagination-id="medios" class="col-xs-12"></dir-pagination-controls>
      </div>
    </div>
    <div id="Periodico">
      <div class="row">
        <br>
        <a class="right modal-trigger btn-floating btn-large waves-effect waves-light grey" href="#modal_reguistro_periodico"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <br>
        <div class="col m12">
          <div class="col m6">
            <input type="text" ng-model="search_periodico.$" name="" placeholder="Buscador">
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Editar</th>
              <th>Eliminar</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="periodico in periodicos | filter:search_periodico | itemsPerPage: 6" pagination-id="periodicos">
              <td>
                <a href="#modal_edtiar_periodico" class="modal-trigger" ng-click="show_periodico(periodico)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a href="#" ng-click="eliminar_periodico(periodico)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
              <td>[[periodico.fecha]]</td>
            </tr>
          </tbody>
        </table>
            <dir-pagination-controls pagination-id="periodicos" class="col-xs-12"></dir-pagination-controls>
      </div>
    </div>
    <div id="Pagina">
      <div class="row">
        <br>
        <a class="right modal-trigger btn-floating btn-large waves-effect waves-light grey" href="#modal_reguistro_pagina"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <br>
        <div class="col m12">
          <div class="col m6">
            <input type="text" ng-model="search_pagina.$" name="" placeholder="Buscador">
          </div>
          <div class="col m6">
            <input placeholder="Fecha Inicio" ng-model="search_pagina.periodico.fecha" type="date" class="datepicker validate">
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Editar</th>
              <th>Eliminar</th>
              <th>Numero de pagina</th>
              <th>Fecha</th>
              <th>Medio</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="pagina in paginas | filter:search_pagina | itemsPerPage: 6" pagination-id="paginas">
              <td>
                <a href="/edict_pagina/[[pagina.id]]" class="modal-trigger">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a href="#" ng-click="eliminar_pagina(pagina)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
              <td>[[pagina.numero_de_pagina]]</td>
              <td>[[pagina.periodico.fecha]]</td>
              <td>[[pagina.periodico.medio.nombre]]</td>
            </tr>
          </tbody>
        </table>
            <dir-pagination-controls pagination-id="paginas" class="col-xs-12"></dir-pagination-controls>
      </div>
    </div>

    <div id="Noticia">
      <div class="row">
        <br>
        <br>
        <div class="col m12">
          <div class="col m6">
            <input type="text" ng-model="search_Noticia.$" name="" placeholder="Buscador">
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Editar</th>
              <th>Eliminar</th>
              <th>Nombre de Noticia</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="noticia in noticias | filter:search_noticia | itemsPerPage: 6" pagination-id="Noticias">
              <td>
                <a href="/edict_noticia/[[noticia.id]]">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a href="#" ng-click="eliminar_noticia(noticia)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
              <td>[[noticia.titulo]]</td>
            </tr>
          </tbody>
        </table>
            <dir-pagination-controls pagination-id="Noticias" class="col-xs-12"></dir-pagination-controls>
      </div>
    </div>

    <div id="Bitacora">
      <div class="row">
        <br>
        <br>
        <div class="col m12">
          <div class="col m6">
            <input type="text" ng-model="search_bitacora.$" name="" placeholder="Buscador">
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Fecha</th>
              <th>Modelo</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="bitacora in bitacoras | filter:search_bitacora | itemsPerPage: 6" pagination-id="bitacoras">
              <td>[[bitacora.owner.username]]</td>
              <td>[[bitacora.create_date]]</td>
              <td>[[bitacora.modelo.model]]</td>
              <td>[[bitacora.accion]]</td>
            </tr>
          </tbody>
        </table>
            <dir-pagination-controls pagination-id="bitacoras" class="col-xs-12"></dir-pagination-controls>
      </div>
    </div>
  {% include "modal_nueva_categoria.html" %}
  {% include "modal_editar_categoria.html" %}
  {% include "modal_nueva_medio.html" %}
  {% include "modal_editar_medio.html" %}
  {% include "modal_nueva_periodico.html" %}
  {% include "modal_editar_periodico.html" %}
  {% include "modal_nueva_pagina.html" %}
  </div>
{% endblock %}
{% block modal %}

{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'js/administrador.js' %}"></script>
  <script>
  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
  $(document).ready(function(){
  $('.carousel').carousel();
  });
  $(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
  });
  $(document).ready(function() {
  $('select').material_select();
  });
  
  </script>
{% endblock %}