{% extends "princ.html"%}
{% block title %}
  Ingresar
{% endblock %}
{% load staticfiles %}
{% block content %}
  <div class="row">
    <form method="POST" class="col s12">
      {% csrf_token %}
      <h3 class="form-title">Ingresar</h3>
      <div class="form-group">
        <input type="text" placeholder="Usuario" name="username" id="username" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Contraseña" name="password" id="password" class="form-control">
      </div>
      <div class="center-flex">
        <button type="submit" class="btn btn-warning btn-lg"> Ingresar </button>
      </div>
    </form>
  </div>
{% endblock %}
{% block js %}
{% endblock %}