{% extends "princ.html"%}
{% block title %}
  Dettale De la Imagen: {{imagen.titulo}}
{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="row" ng-app="Noticias" ng-controller="Comentario" >
  <div class="col l6 m12">
    <h4>
      {{imagen.titulo}}
    </h4>
    <img src="{{imagen.img.url}}" class="responsive-img materialboxed" data-caption="{{imagen.description}}" alt="" >
    <dir class="col s6">
      <h3>valoracion</h3>
      <input-stars max="5" ng-model="valoracion" ng-init="valoracion = {{imagen.get_valoracion}}" ng-attr-readonly="true"></input-stars>
    </dir>
    <dir class="col s6">
      <h3>Tu Valoracion</h3>
      <input-stars max="5" ng-model="self_valoracion" ng-init="self_valoracion = {{self_value}}" ng-change="submit_valor()"></input-stars> <i class="fa fa-arrow-circle-left fa-6" aria-hidden="true"></i> Aca Valoras
    </dir>
  </div>
  <div class="col l6 m12">
    <h1>
        Comentarios
    </h1>
    <ul class="collection">
      <li class="collection-item" pagination-id="comentarios" dir-paginate="comentario in comentarios | filter:search_noticia | itemsPerPage: 6" current-page="[[set_page]]">
          <div class="row">
              
          <div class="col s6">
              [[comentario.owner.username ]]
          </div>
          <div class="col s6">
              [[comentario.create_date ]]
          </div>
          <div class="col s12 blue lighten-2">
              [[comentario.comentario]]
          </div>
          </div>
      </li>
      <dir-pagination-controls pagination-id="comentarios" class="col-xs-12"></dir-pagination-controls>

      {% if user.is_authenticated %}
          <form ng-submit="submit_comentarios()">
              {% csrf_token %}
              <textarea ng-model="comentario"></textarea>
              <button type="submit" class="waves-effect waves-red btn-flat col s12">Comentar</button>
          </form>
       
      {% else %}
        Si Deseas Comentar Porfavor
        <a class="waves-effect btn-flat" href="{% url 'Join' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Unirse</a>
        <a class="waves-effect btn-flat" href="{% url 'Autenticacion' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</a>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
{% block modal %}
{% endblock %}
{% block js %}
    <script>
    var data_objet = {
        imagen: {{imagen.id}},
    }
    </script>
    <script type="text/javascript" src="{% static 'js/detalle.js' %}"></script>

{% endblock %}