{% extends "princ.html"%}
{% block title %}
  Dettale De la Noticia: {{noticia.titulo}}
{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="row" ng-app="Noticias" ng-controller="Comentario" >
<center>
    <h4>
      Titulo:{{noticia.titulo}}, Numero De Pagina {{noticia.pagina.numero_de_pagina}}
    </h4>
</center>
  <div class="col m1">
    {% if pagina_anterior != '#' %}
      <a href="{{pagina_anterior}}">
        <i class="fa fa-arrow-left fa-6" aria-hidden="true"></i>
        Pagina Anterior
      </a>
    {% else %}
      <i class="fa fa-arrow-left fa-6" aria-hidden="true"></i>
      Pagina Anterior
    {% endif %}
  </div>
  <div class="col m10">
    <div class="col l6 m12">
      <img src="{{noticia.get_img}}" class="responsive-img materialboxed" data-caption="{{noticia.description}}" alt="" >
      <dir class="col s6">
        <h3>valoracion</h3>
        <input-stars max="5" ng-model="valoracion" ng-init="valoracion = {{noticia.get_valoracion}}" ng-attr-readonly="true"></input-stars>
      </dir>
      <dir class="col s6">
        <h3>Valorar</h3>
        <input-stars max="5" ng-model="self_valoracion" ng-init="self_valoracion = {{self_value}}" ng-change="submit_valor()" {% if not user.is_authenticated %} ng-attr-readonly="true" {% endif %}></input-stars><i class="fa fa-arrow-circle-left fa-6" aria-hidden="true"></i> Aca Valoras
      </dir>
    </div>
    <div class="col l6 m12">
      <h3>
          Resumen
      </h3>
      <div>
        {{noticia.resumen}}
      </div>
      <h3>
          Cuerpo
      </h3>
      <div>
        {{noticia.cuerpo}}
      </div>
      <h1>
          Comentarios
      </h1>
      <ul class="collection">
        <li class="collection-item" pagination-id="comentarios" dir-paginate="comentario in comentarios | filter:search_noticia | itemsPerPage: 6">
            <div class="row">
                
            <div class="col s6">
                [[comentario.owner.username ]]
            </div>
            <div class="col s6">
                [[comentario.create_date ]]
            </div>
            <div class="col s12 blue lighten-2">
                [[comentario.comentario]]
            </div>
            </div>
        </li>
        <dir-pagination-controls pagination-id="comentarios" class="col-xs-12"></dir-pagination-controls>

        {% if user.is_authenticated %}
            <form ng-submit="submit_comentarios()">
                {% csrf_token %}
                <textarea ng-model="comentario"></textarea>
                <button type="submit" class="waves-effect waves-red btn-flat col s12">Comentar</button>
            </form>
         
        {% else %}
          Si Deseas Comentar Porfavor
          <a class="waves-effect btn-flat" href="{% url 'Join' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Unirse</a>
          <a class="waves-effect btn-flat" href="{% url 'Autenticacion' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</a>
        {% endif %}
      </ul>
    </div>
    <div class="col m12">
      <div class="fb-share-button" data-href="{{url_event}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=localhost:8000/DetalleNoticia/{{noticia.id}}&amp;src=sdkpreparse">Compartir Noticia en facebook</a></div>
    </div>
    <div class="col m12">
      <h1>Otras Noticias En Esta Pagina</h1>
      <div class="collection">
        {% for noticia in noticia_de_la_pagina %}
          <a href="/DetalleNoticia/{{noticia.id}}" class="collection-item">{{noticia.titulo}}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col m1">
    {% if pagina_sigiente != '#' %}
      <a href="{{pagina_sigiente}}">
        <i class="fa fa-arrow-right fa-6" aria-hidden="true"></i>
        Sigiente Pagina
      </a>
    {% else %}
      <i class="fa fa-arrow-right fa-6" aria-hidden="true"></i>
      Sigiente Pagina
    {% endif %}

  </div>
</div>
{% endblock %}
{% block modal %}
{% endblock %}
{% block js %}
    <script>
    var data_objet = {
        noticia: {{noticia.id}},
    }
    </script>
    <script type="text/javascript" src="{% static 'js/detalle.js' %}"></script>

{% endblock %}