{% extends "princ.html"%}
{% load staticfiles %}
{% block title %}
  Editar Pagina
{% endblock %}
{% block content %}
<style>
    .container_img {
      max-width: 640px;
      margin: 20px;
    }
    #preview{
      height: 250px;
      width: 570px
    }

    img {
      max-width: 100%;
    }
  </style>

<div class="row" ng-app="Noticias" ng-controller="EdictPagina" >
  <form id="add_pagina" class="col s12" action="/edict_pagina/{{pagina.id}}/" enctype="multipart/form-data" method="POST" >
    {% csrf_token %}
    <h4>Editar pagina</h4>
    <div class="row">
      <div class="input-field col s12 m6">
        <input placeholder="Fecha" id="fecha" ng-model="filter_periodico.fecha" name="fecha" type="text" class="datepicker validate">
        <label for="fecha">Fecha</label>
      </div>
      <div class="input-field col s12 m6">
        <select id="medio" name="medio" ng-options="medio as medio.nombre for medio in medios track by medio.id" ng-model="filter_periodico.medio">
          <option value="" disabled selected>Seleccione una Medio</option>
        </select>
        <label>Medio</label>
      </div>
      <ul class="collection">
        <a class="collection-item" href="#" dir-paginate="periodico in periodicos | filter:filter_periodico | itemsPerPage: 3" pagination-id="periodicos_filter" ng-click="set_periodico(periodico)">
          <div ng-if="select_peridico.id==periodico.id" class="blue-grey">
            Fecha: [[periodico.fecha]], Medio: [[periodico.medio.nombre]]
          </div>
          <div ng-if="select_peridico.id!=periodico.id">
            Fecha: [[periodico.fecha]], Medio: [[periodico.medio.nombre]]
          </div>
        </a>
      </ul>
      <input id="pagina_periodico" name="pagina_periodico" value="[[select_peridico.id]]" type="hidden" required>

      <dir-pagination-controls pagination-id="periodicos_filter" class="col s12"></dir-pagination-controls>
      <div class="input-field col s12 m6">
        <select required id="pagina_categoria" name="pagina_categoria" ng-options="categoria as categoria.nombre for categoria in categorias track by categoria.id" ng-model="pagina.categoria">
          <option value="" disabled selected>Seleccione una Categoria</option>
        </select>
        <label>Categoria</label>
      </div>
      <div class="input-field col s12 m6">
        <input placeholder="Numero De pagina" id="pagina_nuemro_de_pagina" ng-model="pagina.numero_de_pagina" name="pagina_nuemro_de_pagina" type="number" required>
        <label for="pagina_nuemro_de_pagina">Numero De pagina</label>
      </div>
      <div class="col s12">
          Si Carga Otra Imagen se Remplasara La Anterior
        <div class="file-field input-field">
          <div class="btn blue">
            <span>File</span>
            <input type="file" id="pagina_upload_file" name="pagina_upload_file" ng-model="pagina.img">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="waves-effect waves-red btn-flat green ">Actualizar pagina</button>
  </form>
        <br>
        <br>
        <br>
  <form id="add_pagina" class="col s12" style="margin-top:30px;" enctype="multipart/form-data" action="/create_noticia/" method="POST" >
    {% csrf_token %}
    <input id="pagina_id" name="pagina_id" value="{{pagina.id}}" type="hidden" required class="validate">
    <!--

    <input id="x" name="x" type="hidden" required class="validate">
    <input id="y" name="y" type="hidden" required class="validate">
    <input id="width" name="width" type="hidden" required class="validate">
    <input id="height" name="height" type="hidden" required class="validate">
    <div class="container_img col s12 m5" >
      
      <img src="{{imagen.img.url}}" id="image" alt="Picture" >
    </div>
    <div class="container_img col s12 m5" >
      <div id="preview">
        
      </div>
    </div>
    -->
    <div class="col s12">
      <ul class="tabs">
        <li class="tab"><a href="#test1">Nueva Noticia</a></li>
        <li class="tab"><a class="active" href="#test2">Noticias Asocciadas A Esta Pagina</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Titulo" id="titulo" name="titulo" type="text" class="validate">
          <label for="titulo">Titulo</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="autor" id="autor" name="autor" type="text" class="validate">
          <label for="autor">autor</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="resumen" name="resumen" class="materialize-textarea"></textarea>
          <label for="resumen">Resumen</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="cuerpo" name="cuerpo" class="materialize-textarea"></textarea>
          <label for="cuerpo">Cuerpo</label>
        </div>
      </div>
    <button type="submit" class="waves-effect waves-red btn-flat green ">Crear Noticia</button>
    </div>
    <div id="test2" class="col s12">
      <div class="row">
        <div class="col m12">
          <div class="col m6">
            <input type="text" ng-model="search_Noticia.$" name="" placeholder="Buscador">
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Editar</th>
              <th>Eliminar</th>
              <th>Nombre de Noticia</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="noticia in noticias | filter:search_noticia | itemsPerPage: 6" pagination-id="Noticias">
              <td>
                <a href="/edict_noticia/[[noticia.id]]">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a href="#" ng-click="eliminar_noticia(noticia)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
              <td>[[noticia.titulo]]</td>
            </tr>
          </tbody>
        </table>
            <dir-pagination-controls pagination-id="Noticias" class="col-xs-12"></dir-pagination-controls>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  var pk = {{pk}}
</script>
{% endblock %}
{% block js %}
<script>
    // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
  $(document).ready(function(){
      $('.carousel').carousel();
    });
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
    $(document).ready(function() {
    $('select').material_select();
  });
  var pagina_id = {{pagina.id}}
  var pagina_categoria_id = {{pagina.categoria.id}}
  var $previews = $('#preview');
  var $image = $('#image');
  var minAspectRatio = 0.5;
  var maxAspectRatio = 1.5;

  $image.cropper({
    ready: function () {
      var containerData = $image.cropper('getContainerData');
      var cropBoxData = $image.cropper('getCropBoxData');
      var aspectRatio = cropBoxData.width / cropBoxData.height;
      var newCropBoxWidth;

      if (aspectRatio < minAspectRatio || aspectRatio > maxAspectRatio) {
        newCropBoxWidth = cropBoxData.height * ((minAspectRatio + maxAspectRatio) / 2);

        $image.cropper('setCropBoxData', {
          left: (containerData.width - newCropBoxWidth) / 2,
          width: newCropBoxWidth
        });
      }
       var $clone = $(this).clone().removeClass('cropper-hidden');

        $clone.css({
          display: 'block',
          width: '100%',
          minWidth: 0,
          minHeight: 0,
          maxWidth: 'none',
          maxHeight: 'none'
        });

        $previews.css({
          width: '100%',
          overflow: 'hidden'
        }).html($clone);
    },
    cropmove: function () {
      var cropBoxData = $image.cropper('getCropBoxData');
      var aspectRatio = cropBoxData.width / cropBoxData.height;

      if (aspectRatio < minAspectRatio) {
        $image.cropper('setCropBoxData', {
          width: cropBoxData.height * minAspectRatio
        });
      } else if (aspectRatio > maxAspectRatio) {
        $image.cropper('setCropBoxData', {
          width: cropBoxData.height * maxAspectRatio
        });
      }
    },

    crop: function(e) {
      // Output the result data for cropping image.
      $("#x").val(e.x);
      $("#y").val(e.y);
      $("#width").val(e.width);
      $("#height").val(e.height);
      var imageData = $(this).cropper('getImageData');
      var previewAspectRatio = e.width / e.height;

      $previews.each(function () {
        var $preview = $(this);
        var previewWidth = $preview.width();
        var previewHeight = previewWidth / previewAspectRatio;
        var imageScaledRatio = e.width / previewWidth;

        $preview.height(previewHeight).find('img').css({
          width: imageData.naturalWidth / imageScaledRatio,
          height: imageData.naturalHeight / imageScaledRatio,
          marginLeft: -e.x / imageScaledRatio,
          marginTop: -e.y / imageScaledRatio
        });
      });
    },
    preview: $("#preview")
  });
</script>
<script type="text/javascript" src="{% static 'js/EdictPagina.js' %}"></script>

{% endblock %}