{% extends "princ.html"%}
{% load staticfiles %}
{% block title %}
  Editar Noticia: {{noticia.titulo}}
{% endblock %}
{% block content %}
<style>
    .container_img {
      max-width: 640px;
      margin: 20px;
    }
    #preview{
      height: 250px;
      width: 570px
    }

    img {
      max-width: 100%;
    }
  </style>

<div class="row" ng-app="Noticias" ng-controller="EdictPagina" >
  <form id="add_pagina" class="col s12" enctype="multipart/form-data" action="/edict_noticia/{{noticia.id}}/" method="POST" >
    {% csrf_token %}
    <input id="x" name="x" type="hidden" required value="{{cordenadas.0}}" class="validate">
    <input id="y" name="y" type="hidden" required value="{{cordenadas.1}}" class="validate">
    <input id="width" name="width" type="hidden" required value="{{cordenadas.2}}" class="validate">
    <input id="height" name="height" type="hidden" required value="{{cordenadas.3}}" class="validate">
    <h3>Nueva Noticia</h3>
    <div class="container_img col s12 m12" >
      <h1>Corte anterior</h1> 
      <img src="{{noticia.img.url}}" id="imagenoticia" alt="Picture" >
    </div>
    <div class="container_img col s12 m6" >
      <h1>Nuevo Corte</h1> 
      
      <img src="{{imagen.img.url}}" id="image" alt="Picture" >
    </div>
    <div class="container_img col s12 m6" >
      <div id="preview">
        
      </div>
    </div>
    <div class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input value="{{noticia.titulo}}" placeholder="Titulo" id="titulo" name="titulo" type="text" class="validate">
          <label for="titulo">Titulo</label>
        </div>
        <div class="input-field col s6">
          <input value="{{noticia.autor}}" placeholder="autor" id="autor" name="autor" type="text" class="validate">
          <label for="autor">autor</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="resumen" name="resumen" class="materialize-textarea">{{noticia.resumen}}</textarea>
          <label for="resumen">Resumen</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="cuerpo" name="cuerpo" class="materialize-textarea">{{noticia.cuerpo}}</textarea>
          <label for="cuerpo">Cuerpo</label>
        </div>
      </div>
    <button type="submit" class="waves-effect waves-red btn-flat green ">Editar Noticia</button>
    </div>
  </form>
</div>
{% endblock %}
{% block js %}
<script>
    // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
  $(document).ready(function(){
      $('.carousel').carousel();
    });
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
    $(document).ready(function() {
    $('select').material_select();
  });
  var pagina_id = {{noticia.pagina.id}}
  var pagina_categoria_id = {{noticia.pagina.categoria.id}}
  var $previews = $('#preview');
  var $image = $('#image');
  var minAspectRatio = 0.5;
  var maxAspectRatio = 1.5;

  $image.cropper({
    ready: function () {
      var containerData = $image.cropper('getContainerData');
      var cropBoxData = $image.cropper('getCropBoxData');
      var aspectRatio = cropBoxData.width / cropBoxData.height;
      var newCropBoxWidth;
      $image.cropper('setCropBoxData', {
          "x":parseFloat({{cordenadas.0}}),
          "y":parseFloat({{cordenadas.1}}),
          "width":parseFloat({{cordenadas.2}}-{{cordenadas.0}}),
          "height":parseFloat({{cordenadas.3}}-{{cordenadas.1}})
        })
       var $clone = $(this).clone().removeClass('cropper-hidden');

        $clone.css({
          display: 'block',
          width: '100%',
          minWidth: 0,
          minHeight: 0,
          maxWidth: 'none',
          maxHeight: 'none'
        });

        $previews.css({
          width: '100%',
          overflow: 'hidden'
        }).html($clone);
    },
    cropmove: function () {
      var cropBoxData = $image.cropper('getCropBoxData');
      var aspectRatio = cropBoxData.width / cropBoxData.height;

      if (aspectRatio < minAspectRatio) {
        $image.cropper('setCropBoxData', {
          width: cropBoxData.height * minAspectRatio
        });
      } else if (aspectRatio > maxAspectRatio) {
        $image.cropper('setCropBoxData', {
          width: cropBoxData.height * maxAspectRatio
        });
      }
    },

    crop: function(e) {
      // Output the result data for cropping image.
      $("#x").val(e.x);
      $("#y").val(e.y);
      $("#width").val(e.width);
      $("#height").val(e.height);
      var imageData = $(this).cropper('getImageData');
      var previewAspectRatio = e.width / e.height;

      $previews.each(function () {
        var $preview = $(this);
        var previewWidth = $preview.width();
        var previewHeight = previewWidth / previewAspectRatio;
        var imageScaledRatio = e.width / previewWidth;

        $preview.height(previewHeight).find('img').css({
          width: imageData.naturalWidth / imageScaledRatio,
          height: imageData.naturalHeight / imageScaledRatio,
          marginLeft: -e.x / imageScaledRatio,
          marginTop: -e.y / imageScaledRatio
        });
      });
    },
    preview: $("#preview")
  });
</script>
<script type="text/javascript" src="{% static 'js/EdictPagina.js' %}"></script>

{% endblock %}