{% extends "princ.html"%}
{% load staticfiles %}
{% block title %}
  Inicio
{% endblock %}
{% block content %}

<div class="row" ng-app="Noticias" ng-controller="listado" >
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#test1"><i class="fa fa-file-image-o" aria-hidden="true"></i>  Galeria</a></li>
      <li class="tab col s3"><a href="#test2"><i class="fa fa-newspaper-o" aria-hidden="true"></i>   Noticias</a></li>
    </ul>
  </div>
  
  <div id="test1">
    <div class="row">
      {% if request.user.is_staff %}
        <br>
        <a class="right modal-trigger btn-floating btn-large waves-effect waves-light grey" href="#modal_reguistro_imagen"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <br>
      {% endif %}
      <div class="col m12">
      <div class="col m12">
        <div class="col m6">
         <input type="text" ng-model="search_img.$" name="" placeholder="Buscador">
        </div>
        <div class="input-field col s6">
          <select required id="nueva_pagina_categoria" name="nueva_pagina_categoria" ng-options="categoria as categoria.nombre for categoria in categorias track by categoria.id" ng-model="search_img.categoria">
            <option value="" selected>Seleccione una Categoria</option>
          </select>
          <label>Categoria</label>
        </div>
        <div class="col m6">
          <input placeholder="Fecha Inicio" ng-model="fecha_inicio" type="date" class="datepicker validate">
        </div>
        <div class="col m6">
          <input placeholder="Fecha Fin" ng-model="fecha_fin" type="date" class="datepicker validate">
        </div>
        <div class="col m6">
        </div>
      </div>

      <a href="/DetalleImagene/[[imagen.id ]]" class="col m4" dir-paginate="imagen in imagens | filter:search_img | dateRange : fecha_inicio : fecha_fin |  itemsPerPage: 6 | orderBy:'-id'" pagination-id="imagenes">
          <div class="card">
            <div class="card-image">
              <div class="center-cropped" >
                <img src="[[imagen.img]]" >
              </div>
              <h5>[[imagen.titulo]]</h5>
            </div>
            <div class="card-content">
              <p>Description: [[imagen.description]]</p>
              <p>Fecha: [[imagen.fecha]]</p>
            </div>
          </div>
        </a>
      <div class="col m12">
        <dir-pagination-controls pagination-id="imagenes" class="col-xs-12"></dir-pagination-controls>
      </div> 
      </div>
    </div>

  </div>
  <div id="test2" class="col s12">

      {% if request.user.is_staff %}
        <br>
        <a class="right btn-floating btn-large waves-effect waves-light grey" href="/Administrador">Administrador De Noticias</a>
        <br>
      {% endif %}
    <div class="col m12">
      <div class="col m12">
        <div class="col m6">
         <input type="text" ng-model="search_noticia.$" name="" placeholder="Buscador">
        </div>
        <div class="input-field col s6">
          <select required id="nueva_pagina_categoria" name="nueva_pagina_categoria" ng-options="categoria as categoria.nombre for categoria in categorias track by categoria.id" ng-model="search_noticia.pagina.categoria">
            <option value="" selected>Seleccione una Categoria</option>
          </select>
          <label>Categoria</label>
        </div>
        <div class="col m6">
          <input placeholder="Fecha Inicio" ng-model="noticio_fecha_inicio" type="date" class="datepicker validate">
        </div>
        <div class="col m6">
          <input placeholder="Fecha Fin" ng-model="noticio_fecha_fin" type="date" class="datepicker validate">
        </div>
      </div>
        <div  class="col m4" pagination-id="noticias" dir-paginate="noticia in noticias | filter:search_noticia | dateRange : noticio_fecha_inicio : noticio_fecha_fin | itemsPerPage: 6 | orderBy:'-id'" >
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="[[noticia.pagina.imagen[0].img]]">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">[[noticia.titulo]]<i class="fa fa-eye right" aria-hidden="true"></i></span>
              <p><a href="/DetalleNoticia/[[noticia.id ]]">Ver Notica Completa</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">[[noticia.titulo]]<i class="fa fa-times right"></i></span>
              <p>[[noticia.resumen]]</p>
            </div>
          </div>
        </div>
      <div class="col m12">
        <dir-pagination-controls pagination-id="noticias" class="col-xs-12"></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block modal %}
  {% if request.user.is_staff %}
    {% include "modal_reguistro_imagen.html" %}
  {% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'js/eventos.js' %}"></script>

<script>
    // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
  $(document).ready(function(){
      $('.carousel').carousel();
    });
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
    $(document).ready(function() {
    $('select').material_select();
  });
    $('.grid').masonry({
      // options...
      itemSelector: '.grid-item',
    });

      
</script>
{% endblock %}