{% extends "princ.html"%}
{% block title %}
  Unirse
{% endblock %}
{% load staticfiles %}
{% block content %}
  <div class="row">
    <form method="POST" class="col s12">
      <h3 class="form-title">Crear una Cuenta</h3>
      {% csrf_token %}
      <div class="form-group">
        <input type="text" placeholder="Usuario" name="username" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Nombre" name="firstname" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Apellido" name="lastname" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Email" name="email" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Contraseña" name="password" class="form-control">
      </div>
      <div class="center-flex">
        <button type="submit" class="btn btn-warning btn-lg"> Crear Cuenta </button>
      </div>
    </form>
  </div>
{% endblock %}
{% block js %}
{% endblock %}