<form class="col s12" ng-submit="add_periodico()" enctype="multipart/form-data" data-toggle="validator" role="form" method="POST" >
  {% csrf_token %}
  <div id="modal_reguistro_periodico" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Nueva Periodico</h4>
      <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Fecha" id="fecha" ng-model="nueva_periodico.fecha" name="fecha" type="text" class="datepicker validate" required>
            <label for="fecha">Fecha</label>
          </div>
          <div class="input-field col s12">
            <select id="medio" name="medio" ng-options="medio as medio.nombre for medio in medios track by medio.id" ng-model="nueva_periodico.medio">
              <option value="" disabled selected>Seleccione una Medio</option>
            </select>
            <label>Medio</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="waves-effect waves-red btn-flat ">Registrar Periodico</button>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>
    </div>
  </div>
</form>