<form class="col s12" ng-submit="edict_medio()" enctype="multipart/form-data" data-toggle="validator" role="form" method="POST" >
  {% csrf_token %}
  <div id="modal_edtiar_medio" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Editar Medio</h4>
      <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Nombre" id="nombre" ng-model="editar_medio.nombre" name="nombre" type="text" class="validate" required>
            <label for="nombre">Nombre</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="waves-effect waves-red btn-flat ">Editar Medio</button>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>
    </div>
  </div>
</form>