<form class="col s12" action="/reguistro_imagen/" enctype="multipart/form-data" data-toggle="validator" role="form" method="POST" >
  {% csrf_token %}
  <div id="modal_reguistro_imagen" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Complete los Campos</h4>
      <div class="row">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Titulo" id="titulo" name="titulo" type="text" class="validate">
              <label for="titulo">Titulo</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Fecha" id="fecha" name="fecha" type="date" class="datepicker validate">
              <label for="fecha">Fecha</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="description" name="description" class="materialize-textarea" data-length="70"></textarea>
              <label for="description">Descripcion</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select id="categoria" name="categoria">
                <option value="" disabled selected>Seleccione una Categoria</option>
                {% for categoria in categorias %}
                  <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                {% endfor %}
              </select>
              <label>Categoria</label>
            </div>
          </div>
          <div class="row">
            <div class="file-field input-field">
              <div class="btn blue">
                <span>File</span>
                <input type="file" id="image_event" name="upload_file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="waves-effect waves-red btn-flat ">Registrar Imagen</button>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>
    </div>
  </div>
</form>