<form class="col s12" enctype="multipart/form-data" data-toggle="validator" role="form" method="POST" >
  {% csrf_token %}
  <div id="modal_reguistro_noticia" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Complete los Campos</h4>
      <div class="row">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Titulo" id="titulo" name="titulo" type="text" class="validate">
            <label for="titulo">Titulo</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Autor" id="autor" name="autor" type="text" class="validate">
            <label for="autor">Autor</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Fecha" id="fecha" name="fecha" type="date" class="datepicker validate">
            <label for="fecha">Fecha</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Paguina" id="pagina" name="pagina" type="number" class="validate">
            <label for="pagina">Paguina</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select id="categoria" name="categoria">
              <option value="" disabled selected>Seleccione una Categoria</option>
              {% for categoria in categorias %}
                <option value="{{categoria.id}}">{{categoria.nombre}}</option>
              {% endfor %}
            </select>
            <label>Categoria</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="resumen" name="resumen" class="materialize-textarea" data-length="70"></textarea>
            <label for="resumen">Resumen</label>
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field">
            <div class="btn blue">
              <span>File</span>
              <input type="file" id="image_event" name="upload_file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="waves-effect waves-red btn-flat ">Registrar Noticia</button>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>
    </div>
  </div>
</form>