<form id="add_pagina" class="col s12" enctype="multipart/form-data" action="/nueva_pagina/" method="POST" >
  {% csrf_token %}
  <div id="modal_reguistro_pagina" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Nueva pagina</h4>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Fecha" id="fecha" ng-model="filter_periodico.fecha" name="fecha" type="text" class="datepicker validate">
          <label for="fecha">Fecha</label>
        </div>
        <div class="input-field col s12">
          <select id="medio" name="medio" ng-options="medio as medio.nombre for medio in medios track by medio.id" ng-model="filter_periodico.medio">
            <option value="" disabled selected>Seleccione una Medio</option>
          </select>
          <label>Medio</label>
        </div>
        <ul class="collection">
          <a class="collection-item" href="#" dir-paginate="periodico in periodicos | filter:filter_periodico | itemsPerPage: 6" pagination-id="periodicos_filter" ng-click="set_periodico(periodico)">
            <div ng-if="select_peridico==periodico" class="blue-grey">
              Fecha: [[periodico.fecha]], Medio: [[periodico.medio.nombre]]
            </div>
            <div ng-if="select_peridico!=periodico">
              Fecha: [[periodico.fecha]], Medio: [[periodico.medio.nombre]]
            </div>
          </a>
        </ul>
        <input id="nueva_pagina_periodico" name="nueva_pagina_periodico" value="[[select_peridico.id]]" type="hidden" required>

        <dir-pagination-controls pagination-id="periodicos_filter" class="col l12"></dir-pagination-controls>
        <div class="input-field col s12">
          <select required id="nueva_pagina_categoria" name="nueva_pagina_categoria" ng-options="categoria as categoria.nombre for categoria in categorias track by categoria.id" ng-model="nueva_pagina.categoria">
            <option value="" disabled selected>Seleccione una Categoria</option>
          </select>
          <label>Categoria</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="Numero De pagina" id="nueva_pagina_nuemro_de_pagina" ng-model="nueva_pagina.numero_de_pagina" name="nueva_pagina_nuemro_de_pagina" type="number" required>
          <label for="nueva_pagina_nuemro_de_pagina">Numero De pagina</label>
        </div>
        <div class="col l12">
          <div class="file-field input-field">
            <div class="btn blue">
              <span>File</span>
              <input type="file" id="nueva_pagina_upload_file" name="nueva_pagina_upload_file" ng-model="nueva_pagina.img" required>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="waves-effect waves-red btn-flat ">Registrar pagina</button>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>
    </div>
  </div>
</form>