<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        {% block meta_data %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/angular-input-stars.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/cropper.css' %}">
        {% block styles %}
        {% endblock %}
        <title>
        {% block title %}
        {% endblock %}
        </title>
    </head>
    <body >
    {% include "navbar/navbar.html" %}
    <div class="" style="">
        {% block content %}
        {% endblock %}
    </div>
    {% block modal %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular-input-stars.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagination/dirPagination.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cropper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% block js %}
    {% endblock %}
    </body>

</html>
