<!-- this template is used to test the dir-pagination-controls API and is not intended for production use -->
<div id="test-template">
    <div id="tt-pagination-current">{{ pagination.current }} hola</div>
    <div id="tt-pagination-last">{{ pagination.last }}</div>
    <div id="tt-range-lower">{{ range.lower }}</div>
    <div id="tt-range-upper">{{ range.upper }}</div>
    <div id="tt-range-total">{{ range.total }}</div>
</div>
